.tim-offer-card {
  width: 15rem;
  transition: 0.1s ease-out;
  transition-property: box-shadow;
  box-shadow: 0.125rem 0.125rem 0.75rem rgba(0, 0, 0, 0.07);
}
.tim-offer-card, .tim-offer-card__header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.tim-offer-card, .tim-offer-card__content {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.tim-offer-card, .tim-offer-card__header, .tim-offer-card__content {
  display: flex;
  flex-flow: column;
}
.tim-offer-card__header, .tim-offer-card__content {
  justify-content: space-between;
}
.tim-offer-card__header {
  background-color: #002198;
  height: 8.75rem;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}
.tim-offer-card__header__text {
  color: #ffffff;
  margin: 0;
}
.tim-offer-card__header__gradient, .tim-offer-card__header__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tim-offer-card__header-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 80%);
}
.tim-offer-card__header__image {
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.tim-offer-card__content {
  height: 9.5rem;
  background: #ffffff;
  padding: 1.5rem 1.5rem 1rem;
}
.tim-offer-card__content__text {
  margin: 0;
}
.tim-offer-card__content__cta {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.tim-offer-card__content__cta__value {
  color: #0026d9;
  margin: 0;
}
.tim-offer-card__content__cta__icon {
  background: #ffffff;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: auto;
  stroke: #eb0028;
  width: 3rem;
  height: 3rem;
}